a {
	color: var(--bg-secondary);
}

a:visited {
	color: var(--bg-secondary);
}

a:hover {
	color: var(--color-block);
}

.blogblock a {
	color: var(--bg-hover);
}

.blogblock a:visited {
	color: var(--bg-hover);
}

.floatblock a {
	color: var(--bg-hover);
}

.floatblock a:visited {
	color: var(--bg-hover);
}